.App {
  /* text-align: center; */
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background: rgb(66, 116, 192);
}

.App .search-btn{
  margin-top: 100px;
}
.App .search {
  text-align: left;
}
.App .search input{

  width: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
  height: 30px;
 
}
.App .btn-submit button {

 background-color: #0084ff;
 width: 100px;
 border-radius: 10px;
 height: 30px;
}
.App img{
  border-radius: 40px;
  width: 500px;
  height: auto;
  
}
@media(max-width:414px){
  .App .search input{

    width: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
    height: 30px;
   
  }
}